@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
}

#root{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
}